.zigzag-bottom {
    background: none repeat scroll 0 0 #56CC9D;
    bottom: -80px;
    height: 165px;
    left: -5%;
    position: absolute;
    transform: rotate(3deg);
    width: 108%;
    z-index: 9;
}
a:focus { outline: 0px solid }
img {
    max-width: 100%;
    height: auto;
}
/**
Start site-branding-area
 */
.logo h1 {
    font-size: 40px;
    margin: 40px 0;font-weight: 400;
}
.logo h1 a {
    color: #888;
}
.logo h1 a:hover {text-decoration: none;opacity: .7}
.logo h1 a span {
    color: #56CC9D;
}
.shopping-item {
    border: 1px solid #56CC9D;
    float: right;
    font-size: 18px;
    margin-top: 40px;
    padding: 10px;
    position: relative;
}
.shopping-item a {
    color: #343a40;
}
.cart-amunt {
    color: #56CC9D;
    font-weight: 700;
}
.product-count {
    background: none repeat scroll 0 0 #56CC9D;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    padding-top: 2px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 20px;
}
.shopping-item i.fa {
    margin-left: 15px;
}


.shopping-item:hover {
    background: none repeat scroll 0 0 #56CC9D;
    border-color: #56CC9D;
}
.shopping-item:hover a {
    color: #fff;text-decoration: none
}
.shopping-item:hover .cart-amunt {
    color: #fff;
}
.shopping-item:hover .product-count {
    background: none repeat scroll 0 0 #343a40;
}
/**
End site-branding-area
 */
/**
Start mainmenu-area
 */
.jumbotron p{
    color:#343a40;
}
/**
End mainmenu-area
 */


/**
Start promo-area
 */
.promo-area {
    background: none repeat scroll 0 0 #56CC9D;
    color: #fff;
    padding: 77px 0 50px;
    height: 350px;
}
.promo-area .single-promo {
    border: 1px solid #56CC9D;
    font-size: 25px;
    font-weight: 200;
    padding: 20px 10px;
    text-align: center;
}
.single-promo i {
    font-size: 50px;
}
.promo-area a {
    background: #56CC9D;
}
.single-promo:hover {color: #fff;background: #222;border-color: #222}
/**
End promo-area
 */

/**
Start maincontent-area
 */
.maincontent-area {
    padding-bottom: 170px;
    height: 700px;
}

.latest-product {
    border: 1px solid #1abc9c;
    color: #1abc9c;
    display: inline-block;
    margin-left: 15px;
    padding: 1px 10px;
}
.latest-product {
    color: #222;
    border-color: #222
}

.section-title {
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 50px;
    text-align: center;
}
*{box-sizing: border-box;}
.product-wrap {
    width: 300px;
    text-align: center;
    background: white;
    margin: 0 auto;
}
.product-image {position: relative;}
.product-image a {display: block; }
.product-image img {
    display: block;
    width: 100%;
}
.shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.product-wrap:hover .shadow {opacity: 1;}
.actions {
    bottom: 15px;
    right: 15px;
    position: absolute;
}
.add-to-cart {
    opacity: 0;
    visibility: hidden;
    transform: translate(0,-50px);
    transition: 1s ease-in-out;
}
.actions a {
    background: #56CC9D;
    color: white;
    display: block;
    height: 36px;
    line-height: 36px;
    width: 42px;
    transition: .3s ease-in-out;
    text-decoration: none;
}
.actions a:before {
    font-family: inherit;
    font-size: 14px;
}
.add-to-cart-button:before {content: "\f07a"; }
.add-to-wishlist-button:before {content: "\f004";}
.add-to-compare-button:before{content: "\f079";}
.quikview-button:before {content: "\f002";}
.actions a:hover {background: #FF7851;}
.product-wrap:hover .add-to-cart {
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
}
.add-to-wishlist {
    opacity: 0;
    visibility: hidden;
    transform: translate(0,-50px);
    transition: .8s ease-in-out;
    margin: 9px 0 0;
}
.product-wrap:hover .add-to-wishlist, .product-wrap:hover .add-to-compare, .product-wrap:hover .quikview {
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
}
.add-to-compare {
    opacity: 0;
    position: relative;
    visibility: hidden;
    transition: .6s ease-in-out;
    transform: translate(0,-50px);
    margin: 9px 0 0;
}
.quikview {
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-in-out;
    transform: translate(0,-50px);
    margin: 9px 0 0;
}
.product-list {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: inherit;
}
.product-list h3 {
    color: #555;
    font-size: 15px;
    font-family: inherit;
}
.price {
    font-weight: bold;
    font-size: 16px;
    color: #FF7851;
}
/**
End maincontent-area
 */

/**
Start footer-top-area
 */
.footer-top-area .zigzag-bottom{
    background: #343a40;
}

.footer-top-area .zigzag-bottom {
    bottom: -153px;
    height: 200px;
}
.footer-top-area {
    padding: 35px 0 125px;
    position: relative;
    overflow: hidden;
    background: #343a40;
    background: none repeat scroll 0 0 #888;
}
.footer-about-us, .footer-menu{
    margin-bottom: 60px;
}
.footer-about-us span {
    color: #56CC9D;
}
.footer-about-us p {
    color: #fff;
}
.footer-about-us h2 {
    font-weight: 200;
}
.footer-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-menu ul li {
    border-bottom: 1px dashed #343a40;
    padding: 5px 0;
}
.footer-menu li {
}
.footer-menu a {
    color: #fff;
    display: block;
    padding: 5px 0;
}
.footer-wid-title{
    font-family: raleway;
    font-size: 30px;
    font-weight: 100;
    color: #fff
}
.footer-newsletter p{
    color: #fff
}
.newsletter-form input[type="email"] {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}
.newsletter-form input[type="submit"] {
    background: none repeat scroll 0 0 #56CC9D;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 7px 20px;
    text-transform: uppercase;
    border: 1px solid #56CC9D;
}
.newsletter-form input[type="submit"]:hover {
    background: #343a40;
    border-color: #888
}
.newsletter-form {
    margin-top: 25px;
}
.footer-top-area .zigzag-bottom {
    bottom: -153px;
    height: 200px;
}
/**
End footer-top-area
 */

/**
Start product-big-title-area
 */
.product-big-title-area {
    background: url("img/crossword.png") repeat scroll 0 0 #56CC9D;
}

.product-bit-title h2 {
    font-family: raleway;
    font-size: 50px;
    font-weight: 200;
    margin: 0;
    padding: 50px 0;color: #fff;
}
/**
End product-big-title-area
 */

/**
Start single-product-area
 */
.single-product-area {
    position: relative;
    overflow: hidden;
    padding: 80px 0 130px;
}

.single-shop-product h2 {
    font-size: 20px;
    margin: 10px 0;
}
.single-shop-product {
    margin-bottom: 50px
}
.product-carousel-price ins {
    color: #56CC9D;
    font-weight: 700;
    margin-right: 5px;
    text-decoration: none;
}
.add_to_cart_button {
    background: none repeat scroll 0 0 #56CC9D;
    border: medium none;
    color: #fff;
    padding: 6px 25px;display: inline-block
}
.add_to_cart_button:hover {
    background-color: #222;
    color: #fff;
    text-decoration: none
}
.product-option-shop {
    margin-top: 15px;
}
/**
End single-product-area
 */

/**
 Start single-product-area-big-title-area
  */
.sidebar-title {
    color: #56CC9D;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.single-sidebar {
    margin-bottom: 50px;
}
input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #888;
    padding: 10px;
}
input[type="submit"], button[type=submit] {
    background: none repeat scroll 0 0 #56CC9D;
    border: medium none;
    color: #fff;
    padding: 11px 20px;
    text-transform: uppercase;
}
input[type="submit"]:hover, button[type=submit]:hover {background-color: #343a40}
.single-sidebar input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
}
.single-sidebar > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.single-sidebar li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
}
.single-sidebar a {
    display: block;
}
.thubmnail-recent {
    margin-bottom: 30px;
    overflow: hidden;
}
.recent-thumb {
    float: left;
    height: auto;
    margin-right: 15px;
    width: 63px;
}
.thubmnail-recent > h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.thubmnail-recent > h2 a {
    color: #343a40;
}
.product-breadcroumb {
    margin-bottom: 20px;
}
.product-breadcroumb > a {
    margin-right: 31px;
    position: relative;
}
.product-breadcroumb > a::before {
    content: "/";
    position: absolute;
    right: -20px;
    top: 2px;
}
.product-breadcroumb > a:last-child::before {
    display: none;
}
.product-main-img {
    margin-bottom: 20px;
}
.product-gallery {
    margin-bottom: 25px;
    margin-left: -15px;
    overflow: hidden;
}
.product-gallery img {
    height: auto;
    margin-left: 15px;
    width: 76px;
}
.product-name {
    font-size: 25px;
    margin-bottom: 20px;
}
.product-inner-price {
    margin-bottom: 25px;
}
.product-inner-price > ins {
    color: #56CC9D;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}
.product-inner-category {
    margin-bottom: 30px;
}
.quantity {
    float: left;
    margin-right: 15px;
}
.quantity input[type="number"] {
    border: 1px solid #56CC9D;
    padding: 5px;
    width: 50px;
}
div.quantity input.plus, div.quantity input.minus {
     background: none repeat scroll 0 0 #56CC9D;
     border: medium none;
     color: #fff;
     height: 25px;
     line-height: 15px;
     width: 25px;
 }

.product-tab {
    border-bottom: 1px solid #888;
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}
.product-tab li {
    display: inline-block;
}
.product-tab li.active {
    background: none repeat scroll 0 0 #56CC9D;
}
.product-tab li.active a {
    color: #fff;
}
.product-tab li a {
    color: #343a40;
    display: block;
    font-size: 16px;
    padding: 10px 30px;
}
.product-tab li a:hover {
    text-decoration: none;
}
.product-tab li a:focus {
    text-decoration: none;
}
.submit-review label {
    display: block;
}
.submit-review input[type="text"], .submit-review input[type="email"], .submit-review textarea {
    margin-bottom: 20px;
    width: 100%;
}

/**
 End single-product-area-big-title-area
  */

/**
Start product-big-title-area
 */
.product-big-title-area {
    background: url(img/crossword.png) repeat scroll 0 0 #56CC9D;
}
.product-bit-title h2 {
    font-size: 50px;
    font-weight: 200;
    margin: 0;
    padding: 50px 0;color: #fff;
}
/**
End product-big-title-area
 */

/**
Start single-product-area
 */
.single-product-area .zigzag-bottom {
    background-color: #343a40;
}

.single-product-area {
    padding: 80px 0 130px;
}
table.shop_table {
    border-bottom: 1px solid #888;
    border-right: 1px solid #888;
    margin-bottom: 50px;
    width: 100%;
}
table.shop_table th, table.shop_table td {
    border-left: 1px solid #888;
    border-top: 1px solid #888;
    padding: 15px;
    text-align: center;
}
table.shop_table th {
    background: none repeat scroll 0 0 #fff;
    font-size: 15px;
    text-transform: uppercase;
}
table.shop_table td.product-remove a {
    display: inline-block;
    padding: 0 5px 2px;
    text-transform: uppercase;
}

/**
End single-product-area
 */